# VSCode Settings
.vscode/
workspace.code-workspace

# DJango Cache
*.pyc

# Variables de entorno y entorno virtual
.venv/
# sistema/.env

# Media and Static Files
sistema/media/
sistema/staticfiles/

# Database Local
sistema/config/db.sqlite3

# Apps Migrations
sistema/apps/**/migrations/*.*
!sistema/apps/**/migrations/__init__.py

